body {
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  color: #000;
}

a {
  color: rgb(55, 151, 220);
  text-shadow: 0px 0px 3px rgba(255,255,255,0.2);
}
.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -9999;
}
.weather-app {
  background: rgba(218, 223, 225, 0.2);
  margin: 0 auto;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
  max-width: 600px;
  position: relative;
  z-index: 1;
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 30px 0;
}

.search-text-input {
  border: none;
  border-radius: 6px;
  width: 73%;
  padding: 15px 20px;
  font-size: 16px;
}

.search-form-button {
  background: rgb(55, 151, 220);
  padding: 15px 38px;
  border: none;
  border-radius: 6px;
  color: #ffff;
  margin-left: 5px;
  font-size: 17px;
}

.search-form-button:hover {
  box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
}

main {
  padding: 30px 0;
}

.weather-app-container {
  display: flex;
  justify-content: space-between;
}

.weather-app-city {
  margin: 0;
  font-size: 38px;
  font-weight: 200;
  line-height: 48px;
  top: 50%;
  font-family: "Roboto", monospace;
  color: #000;
}

.weather-app-details {
  font-size: 16px;
  line-height: 20px;
  color: rgba(39, 33, 66, 0.5);
  font-weight: 400;
  text-shadow: 1px 0px #000000
}

.weather-app-details strong {
  color: #e2a320;
}

.weather-app-temperature-container {
  display: flex;
}

.temperature-value {
  font-size: 88px;
  line-height: 88px;
}

.icon {
  width: 84px;
  height: 84px;
}

.unit {
  margin-top: 16px;
  font-size: 28px;
}

.weather-forecast-container {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  font-family: "Montserrat", sans-serif;
}

.forecast-day {
  color: #000;
  opacity: 0.6;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.forecast-icon {
  width: 90px;
  height: 90px;
  display: block;
  margin: 0 auto;
}

.forecast-temperatures {
  font-size: 13px;
  text-align: center;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.forecast-temperature {
  padding: 0 5px;
}
footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
}
